version: '3.7'
services:
    user-app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: user-app
        ports:
            - "8082:8082"
        networks:
            - user-network
            - external-network

    user-db:
        image: postgres:17
        container_name: ${DB_HOST}
        ports:
            - ${DB_PORT}:${DB_PORT}
        volumes:
            - "./build/docker/postgres/postgres_data/db:/var/lib/postgresql/data"
        env_file:
            - .env
        environment:
            - POSTGRES_DB=${DB_NAME}
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
        networks:
            - user-network

    user-db-pgadmin:
        image: dpage/pgadmin4:9.8
        ports:
            - "5050:80"
        volumes:
            - "./build/docker/pgadmin:/var/lib/pgadmin"
        depends_on:
            - user-db
        env_file:
            - .env
        environment:
            PGADMIN_DEFAULT_EMAIL: dmitrie43@mail.ru
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}

            # Don't require the user to login
            PGADMIN_CONFIG_SERVER_MODE: 'False'

            # Don't require a "master" password after logging in
            PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
        networks:
            - user-network


networks:
    user-network:
        name: user-network
        driver: bridge
    external-network:
        external: true

